@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&family=Ubuntu:wght@300&display=swap');
:root{
	font-size: 20px;
	background-image: url("background.png");
	background-repeat: no-repeat;
	background-size: 100vw 100vh;
}

.navbar {
	background-color: #5F6D75;
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: fixed;
  	top: 0;
  	left: 0;
  	width: 100%;
  	font-family: 'Ubuntu', sans-serif;
  	border-bottom: 1px solid #5a666e;
}

.navbar li{
	color: #B2CCDB;
	font-size: 0.9rem;
	display: inline;
	padding: 0.2rem 0.6rem;
	float: left;
	border: 2px solid #B2CCDB;
	margin: 0.1rem 0.1rem 0.1rem;
	border-radius: 0.5rem;
}

.navbar li:hover{
	transition: 0.3s;
	cursor: pointer;
	color: #ff7966;
	border: 2px solid #ff7966;
}


.content{
	font-family: 'JetBrains Mono', monospace;
	font-size: 1.3rem;

	padding: 2rem;
	line-height: 2rem;
	width: 50vw;
	text-align: center;
	opacity: 0.8;
	color: #222736;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}